div(style='text-align: center; width: 600px; margin:auto; color: black')
  img(src="#" style='width: 400px;')

div(style='text-align: center;margin-bottom: 5px; width: 600px; margin:auto; color: black')
  h1(style='text-align: center;margin-bottom: 5px; color: black ') Welcome To DJ Kenny
br
br
div(style='text-align: center;margin-bottom: 5px; width: 600px; margin:auto; color: black')
  h3(style='text-align: center;margin-bottom: 5px;') 
    | Hello, #{user.name}
div(style='width: 600px; margin:auto; color: black')
  h3(style='text-align: center;margin-bottom: 5px;')
    | Your new password is #{password}
    br
    | We recommend you to change your password after logging in the system with the above mentioned temporary password. 
  

br
div(style='width: 600px; margin:auto; color: black')

  | Thanks,
  br
  b DJ Kenny 
br
br
br
div(style='text-align: center;margin-bottom: 5px; width: 600px; margin:auto; color: black')
  p(style='text-align: center;margin-bottom: 5px; color: black') DJ Kenny
  p(style='text-align: center;margin-bottom: 5px; color: black') Bridgeport, CT
  p(style='text-align: center;margin-bottom: 5px ; color: black') http://www.durisimoappstore.com
  p(style='text-align: center;margin-bottom: 5px; color:black') https://play.google.com/store/apps/details?id=com.dj_kenny
  p(style='text-align: center;margin-bottom: 5px; color:black') +1 (844) 853-9600
br
div(style='text-align: center;margin-bottom: 5px; width: 600px; margin:auto; color: black')
  p(style='text-align: center;margin-bottom: 5px;') Invite your friends and family.
  p(style='text-align: center;margin-bottom: 5px;') Download our app on App Store &amp; Play Store
br
div(style='text-align: center;margin-bottom: 5px; width: 600px; margin:auto; color: black')
  img(src="http://18.213.245.229:3000/assets/images/google-play-store.png")
  img(src="http://18.213.245.229:3000/assets/images/app-store.png")
br
br
